src/main/mule/localoauthv2serviceproviderapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
    <http:listener-config name="localoauthv2serviceproviderapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    
    <oauth2-provider:config name="OAuth2Provider"
                            resourceOwnerSecurityProvider="resourceOwnerSecurityProvider"
                            clientSecurityProvider="clientSecurityProvider"
                            supportedGrantTypes="${allSupportedGrantTypes}"
                            listenerConfig="localoauthv2serviceproviderapi-httpListenerConfig"
                            clientStore="clientObjectStore"
                            scopes="GUEST,USER,ADMIN"
                            defaultScopes="GUEST,USER,ADMIN" tokenGeneratorStrategy="tokenGeneratorDefaultStrategy">
        <oauth2-provider:client-validation-rate-limiter>
            <oauth2-provider:period-rate-limiter/>
        </oauth2-provider:client-validation-rate-limiter>
        <oauth2-provider:token-config path="/token"
                                      tokenStore="tokenObjectStore"
                                      tokenTtl="86400"
                                      tokenTtlTimeUnit="SECONDS">
            <oauth2-provider:refresh-token-strategy>
                <oauth2-provider:multiple-refresh-tokens objectStore="refreshTokenObjectStore"/>
            </oauth2-provider:refresh-token-strategy>
        </oauth2-provider:token-config>
<!--         <oauth2-provider:authorization-config loginPage="org/mule/modules/oauth2/provider/www/templates/login.html" -->
<!--                                               path="/authorize" -->
<!--                                               authorizationCodeStore="authorizationCodeObjectStore"/> -->
       <oauth2-provider:authorization-config  path="/authorize" authorizationCodeStore="authorizationCodeObjectStore"/>
        <oauth2-provider:clients>
            <oauth2-provider:client clientId="clientId1"
                                    secret="clientSecret1"
                                    principal="clusr"
                                    type="CONFIDENTIAL" >
                <oauth2-provider:client-redirect-uris>
		            <oauth2-provider:client-redirect-uri value="http://fake/redirect"/>
		        </oauth2-provider:client-redirect-uris>
		        <oauth2-provider:client-authorized-grant-types>
		            <oauth2-provider:client-authorized-grant-type value="CLIENT_CREDENTIALS"/>
		        </oauth2-provider:client-authorized-grant-types>
		        <oauth2-provider:client-scopes>
		            <oauth2-provider:client-scope value="USER"/>
		        </oauth2-provider:client-scopes>
            </oauth2-provider:client>
            <oauth2-provider:client clientId="clientId2"
                                    secret="clientSecret2"
                                    principal="clusr"
                                    type="CONFIDENTIAL" >
                <oauth2-provider:client-redirect-uris>
		            <oauth2-provider:client-redirect-uri value="https://www.getpostman.com/oauth2/callback"/>
		        </oauth2-provider:client-redirect-uris>
		        <oauth2-provider:client-authorized-grant-types>
		            <oauth2-provider:client-authorized-grant-type value="CLIENT_CREDENTIALS"/>
		        </oauth2-provider:client-authorized-grant-types>
		        <oauth2-provider:client-scopes>
		            <oauth2-provider:client-scope value="USER"/>
		        </oauth2-provider:client-scopes>
            </oauth2-provider:client>
        </oauth2-provider:clients>
    </oauth2-provider:config>
	<flow name="localoauthv2serviceproviderapiFlow" doc:id="e67128fa-6d2c-40e8-8370-3bad651e1d08" >
		<http:listener doc:name="Listener" doc:id="56194dd9-393e-4a11-b1f3-699cf4ee9a43" config-ref="localoauthv2serviceproviderapi-httpListenerConfig" path="/validate"/>
		<oauth2-provider:validate-token config-ref="OAuth2Provider"/>
		<logger level="INFO" message="get:\validate:localoauthv2serviceproviderapi-config: #[payload]" />
		<error-handler>
           <on-error-continue type="OAUTH2-PROVIDER:TOKEN_UNAUTHORIZED">
               <set-payload value="UNAUTHORIZED_TOKEN"/>
           </on-error-continue>
        </error-handler>
	</flow>
</mule>
